<!-- confirm_delete.html -->
{% extends 'user/user_base.html' %}
{% load static%}
{% block title %}{{ title }}{% endblock %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
{% block content %}
<div class="col-lg-5 col-12 ">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'list_details' %}">Details List</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
        </ol>
    </nav>
</div>
    <h1>{{ title }}</h1>
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirm</button>
        <a href="{% url 'list_details' %}">Cancel</a>
    </form>
{% endblock %}
